* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, sans-serif;
}


#container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#blocklyWrapper {
  flex: 1;
  position: relative;
  min-width: 0;   
  min-height: 0;
}

#blocklyDiv {
  position: absolute;
  inset: 0;
  background: #f0f0f0;
}

#sidePanel {
  width: 360px;
  min-width: 300px;
  background: #f7f7f7;
  border-left: 1px solid #ddd;
  padding: 10px;
  overflow-y: auto;
}

#codeArea {
  width: 100%;
  height: 160px;
  resize: vertical;
}



#output {
  background: #000;
  color: #00ff00;
  min-height: 120px;
  padding: 10px;
  margin-top: 10px;
  font-family: monospace;
  overflow-y: auto;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.buttons button {
  flex: 1;
  padding: 10px;
  cursor: pointer;
}

/* Hide all Blockly controls */
.blocklyZoom,
.blocklyFlyoutScrollbar,
.blocklyScrollbarVertical,
.blocklyScrollbarHorizontal {
  display: none !important;
}

/* Keep trashcan visible */
.blocklyTrash {
  display: block !important;
}



@media (max-width: 768px) {

  html, body {
    height: auto;
    overflow: auto;
  }

  #container {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

    .blocklyToolboxDiv {
    width: 130px !important;
  }

  #blocklyWrapper {
    height: 50vh;
    width: 100%;
  }

  #sidePanel {
    width: 100%;
    min-width: unset;
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
    border-left: none;
    border-top: 1px solid #ddd;
    padding-bottom: 60px; 
  }

  #blocklyDiv {
    right: 0;
    left: 0;
  }

  .buttons {
    margin-bottom: 40px;
  }

  .buttons button {
    padding: 14px;
  }
}



